<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
     <head><% page_title %></head>
     <body>
     <div id= "header" >
     ---------------------------------------------------------------------
	 这是模板，你可以随意设置你喜欢的内容。。。。。。
	 ---------------------------------------------------------------------
     </div>
 
     <div id= "content" >
     <% content %>
     </div>
 
     </body>
</html>
